@import '../../../variables.scss'; 
@import '../../../mixins.scss'; 

.drop-down-list {  
  &:not(:last-child) {    
    margin-right: 15px;
  }
  
  &__label {
    @include medium-bold-font(); 
    display: block;
    height: 35px;
    color: white;
    background: $main-color;    
    border-radius: 5px;
    padding-left: 15px;    
  }
  
  &__select {  
    height: 35px;      
    font-size: 16px;
    padding: 0 5px 0 10px;
    margin-left: 15px;
    border: none;
    border-radius: 0 5px 5px 0;   
    cursor: pointer;    
  }  
}