@import '../../../variables.scss';

.heart {
  position: absolute;
  right: 11.3px;
  top: 39%;
  display: inline-block;
  height: 13px;
  width: 13px;
  background: rgb(136, 136, 136);
  transform: rotate(-45deg);

  &:before,
  &:after {
    content: "";
    position: absolute;
    height: 13px;
    width: 13px;
    background: rgb(136, 136, 136);
    border-radius: 50%;
  }

  &:before {
    top: -8px;
    left: 0;
  }

  &:after {
    left: 8px;
    top: 0;
  }
}

.heart-added {
  background-color: $bright-color;

  &:before,
  &:after {
    background-color: $bright-color;
  }
}
