@import '../../../variables.scss';

.star-item {
  display: inline-block;

  &__button {
    color: rgb(136, 136, 136);
    font-size: 26px;
    line-height: 1;
    padding: 0;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
  }  
}

.filled {
  color: $bright-color;
}

.hover {
  color: $bright-color;
  filter: brightness(150%);
}