@import '../../../mixins.scss';  
@import '../../../variables.scss';

.header {    

    &__inner {
        @include main-align();
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0;
        margin-bottom: 15px;
    }    
}