@import '../../../variables.scss';
@import '../../../mixins.scss';

.header-secondary {
    background: $main-color;
    color: $white-color;
    font-weight: 500;
    padding: 15px 0;
    margin-bottom: 30px;

    &__inner {
        @include main-align();
        display: flex;
        justify-content: space-between;
    }
   
    &__email {
        color: $white-color;
        text-decoration: none;        
    }
}

@media screen and (max-width: 1200px) {
    .header-secondary {
        &__inner {
            @include main-align-adaptive();
            flex-wrap: wrap;
        }        
    }
}

@media screen and (max-width: 450px) {
    .header-secondary {
        &__inner {
            @include main-align-adaptive-small();            
        } 

        &__company-name {
            width: 100%;
            margin-bottom: 15px;
        }
    }
}
