@import '../../../variables.scss';

.scroll-up-button {
    position: fixed;
    right: 4px;
    bottom: 30px;
    width: 55px;
    height: 80px;
    background: url(../../../../public/images/up-arrow.png) center center no-repeat #008900;    
    box-shadow: -1px 1px 5px 1px $white-color;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    opacity: 0.9;   
    z-index: 70; 
}