@import '../../../variables.scss';

.text {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: $dark-color;
    margin-bottom: 20px;
}

.dark-text {
    color: $white-color;
}
