@import '../../../variables.scss';

.similar-recipe {       
        width: calc(50% - 7.5px);
        margin-bottom: 15px;        
        
        &:not(:nth-child(2n+2)) {
            margin-right: 15px;
        }
    
    &__link {        
        display: block; 
        padding: 10px 10px 15px 80px;  
        background: $main-color;      
        color: $white-color;        
        box-shadow: 2px 2px 3px 1px $dark-color;        
        text-decoration: none;   
        position: relative;        
    
        &::before {            
            content: "";
            width: 64px;
            height: 64px;
            position: absolute;
            top: calc(50% - 32px);
            left: 5px;
            background: url(../../../../public/images/recipe.png) center no-repeat;
        }        
        
        &:hover {
            background: $bright-color;
            transition: all 0.5s; 
        }
    }   
    
    &__title {
        display: flex;
        align-items: center;
        height: 50px;
        padding: 0 0 2px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 5px;
        border-bottom: 1px dashed $white-color;       
    }
    
    &__time {
        display: block;
        padding: 5px 0 10px;
        border-bottom: 1px dashed $white-color;
    }
}

