@import '../../../variables.scss';

.title {
    font-weight: 500;
    font-size: 30px;
    line-height: 140%;
    color: black;
    max-width: 500px;
    margin-bottom: 25px;    
}

.dark-title {
    color: $white-color;
}