@import '../../../variables.scss';
@import '../../../mixins.scss';

.favourite-recipe {
    width: calc(25% - 11.25px);
    background: $main-color;
    box-shadow: 2px 2px 3px 1px #3a3a3c;    
    margin-bottom: 15px;

    &:not(:nth-child(4n+4)) {
        margin-right: 15px;
    }

    &__link {
        display: flex;
        padding: 15px;        
        color: #FFFFFF;        
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 15px;

        &:hover {
            background: $bright-color;
        }
    }

    &__image {
        height: 100px;
        margin-right: 15px;
    }

    &__button {
        display: block;
        width: 80px;
        height: 30px;
        margin: 0 auto 15px;
        background: $bright-color;
        border-radius: 5px;        
        font-size: 16px;
        font-weight: 500;
        color: #FFFFFF;
        cursor: pointer;
        border: none;

        &:hover {
            background: #008900;
            transition: all 0.5s; 
        }
    }
}
