@import '../../variables.scss';
@import '../../mixins.scss';

.profile {
    @include main-align();
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__favorite-recipes {
        width: 100%;
        display: flex;        
        flex-wrap: wrap;
        margin-bottom: 15px;
    }

    &__no-recipes {
        width: 370px;
        text-align: center;
        color: $secondary-color;
        font-size: 18px;
        margin: 0 auto 30px;
        padding-bottom: 10px;
        border-bottom: 2px solid $secondary-color;
    }
}

@media screen and (max-width: 1200px) {
    .profile {
        @include main-align-adaptive();
    }
}

@media screen and (max-width: 600px) {
    .profile {
        &__no-recipes {
            width: 240px;   
            font-size: 16px;         
        }
    }
}

@media screen and (max-width: 450px) {
    .profile {
        @include main-align-adaptive-small();       
    }
}