@import '../../../variables.scss';
@import '../../../mixins.scss';

.recipe-main {
    width: calc(25% - 22.5px);
    margin-bottom: 30px;
    position: relative;

    &:not(:nth-child(4n+4)) {
        margin-right: 30px;
    }

    &__button {
      position: absolute;
      right: 10px;
      top: 80px;  
      background: rgba(255, 255, 255, 0.7);
      width: 35px;
      height: 35px;
      border-radius: 50%;
      border: none;
      cursor: pointer;
    
      &:hover {
        filter: brightness(140%);
      }
    }    

    &__link {
        display: block;
        height: 98.5%;
        text-decoration: none;
        background: $main-color;  
        
        &:hover {
            background: $bright-color;
            transition: all 0.5s; 
        }        
    }

    &__title {
        @include small-font();
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70px;        
        text-align: center;
        color: white;        
        padding: 2px 10px;        
        
    }
    
    &__image {
        width: 100%;        
    }
}

@media screen and (max-width: 1000px) {
    .recipe-main {
        width: calc(33.33% - 20px);  
        
        &:not(:nth-child(4n+4)) {
            margin-right: 0;
        }
    
        &:not(:nth-child(3n+3)) {
            margin-right: 30px;
        }
    }
}

@media screen and (max-width: 750px) {
    .recipe-main {
        width: calc(50% - 15px);       
    
        &:not(:nth-child(3n+3)) {
            margin-right: 0;
        }

        &:not(:nth-child(2n+2)) {
            margin-right: 30px;
        }        
    }
}

@media screen and (max-width: 550px) {
    .recipe-main {
        width: 100%;       

        &:not(:nth-child(2n+2)) {
            margin-right: 0;
        }        
    }
}
