@import '../../../variables.scss';
@import '../../../mixins.scss';

.recipe-main {
    width: calc(25% - 22.5px);
    margin-bottom: 30px;
    position: relative;

    &:not(:nth-child(4n+4)) {
        margin-right: 30px;
    }

    &__button {
      position: absolute;
      right: 5px;
      top: 70px;  
      background: rgba(255, 255, 255, 0.7);
      width: 37px;
      height: 37px;
      border-radius: 50%;
      border: none;
      cursor: pointer;
    
      &:hover {
        filter: brightness(140%);
      }
    }    

    &__link {
        display: block;
        height: 264px;
        text-decoration: none;
        background: $main-color;  
        
        &:hover {
            background: $bright-color;
            transition: all 0.5s; 
        }        
    }

    &__title {
        @include small-font();
        display: flex;
        align-items: center;
        justify-content: center;
        height: 65px;        
        text-align: center;
        color: white;        
        padding: 2px 10px;        
        
    }
    
    &__image {
        width: 100%;        
    }
}
