@import '../../../variables.scss'; 
@import '../../../mixins.scss';

.footer {    
    padding-top: 30px;
    border-top: 5px solid $main-color;   

    &__top {       
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
    }

    &__email {        
        @include medium-font(); 
        margin-bottom: 15px;
        text-decoration: none;
        color: $main-color;
    }

    &__bottom {
        background: $main-color;
        color: $white-color;
        font-weight: 500;
        padding: 15px 0;
        text-align: center;        
    }    
}
