@import '../../../variables.scss';
@import '../../../mixins.scss';

.password-change {
    &__form-buttons {
        display: flex;
        justify-content: space-between;
    }

    &__button {
        @include medium-bold-font(); 
        color: $main-color;        
        background: none;
        border: none;
        font-family: 'Rubik', sans-serif;
        text-decoration: underline;
        margin-bottom: 50px;
        cursor: pointer;
    
        &:hover {
            color: $bright-color;
        }
    }
}
