@import '../../../variables.scss';
@import '../../../mixins.scss';

.password-change {
    &__form-buttons {
        display: flex;
        justify-content: space-between;
    }

    &__button {
        color: $main-color;
        font-weight: 500;
        font-size: 20px;
        background: none;
        border: none;
        font-family: 'Poppins', sans-serif;
        text-decoration: underline;
        margin-bottom: 35px;
        cursor: pointer;
    
        &:hover {
            color: $bright-color;
        }
    }
}
