@import '../../../variables.scss';

.horizontal-menu {
    &__links {
        width: 485px;
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;        
        display: flex;
        margin-right: 50px;              
    }

    &__item {
        margin-right: 30px;
    }

    &__link {
        text-decoration: none;
        color: $dark-color;

        &:hover {            
            color: $bright-color;
        }
    }
}

.dark-link {
    color: $white-color;
}

.active {
    color: $main-color;
}