@import '../../../variables.scss';

.horizontal-menu {
    &__links {
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;        
        display: flex;
        margin-right: 50px;              
    }

    &__item {
        margin-right: 40px;
    }

    &__link {
        text-decoration: none;
        color: $dark-color;

        &:hover {
            text-decoration: underline;
            color: $bright-color;
        }
    }
}