@import '../../../variables.scss';

.horizontal-menu {
    &__links {        
        font-weight: 600;
        font-size: 20px;               
        display: flex;
        margin-right: 30px;              
    }

    &__item {
        margin-right: 30px;
    }

    &__link {
        text-decoration: none;
        color: $dark-color;

        &:hover {            
            color: $bright-color;
            transition: all 0.3s; 
        }
    }
}

.dark-link {
    color: $white-color;
}

.active {
    color: $main-color;
}