@import '../../../variables.scss';

.autocomplete {
    width: 450px;
    position: absolute;
    top: 46px;
    background: #f0f5f7;    
    border-radius: 5px;    
    z-index: 50;

    &__no-results {
        width: 350px;        
        text-align: center;
        color: $bright-color;
        font-size: 18px;
        margin: 55.5px auto;
        padding-bottom: 10px;
        border-bottom: 2px solid $bright-color;
    }

    &__subtitile {
        text-align: center;
        font-size: 14px;
        color: #757575;
        padding-top: 10px;              
    }

    &__list {
        padding: 10px 0;
        font-size: 16px;
        font-weight: 500;
    }

    &__link {
        display: block;
        color: $dark-color;  
        text-decoration: none;
        padding: 10px 20px;

        &:hover {
            background: $bright-color;
            color: $white-color;
            transition: all 0.3s; 
        }
    }
}