.logo {
    display: block;
    background: url(../../../../public/images/cooking_logo.jpg) no-repeat;
    width: 309px;
    height: 100px;
    margin-right: 50px;
    border-radius: 5px;
    cursor: pointer;
}