@import '../../variables.scss';

.not-found-page {    
    margin-top: 30px;
    background: #fdb82f url(../../../public/images/404.jpg) no-repeat center;
    background-size: 70%;
    height: 80vh;    
    padding: 15px;
    color: $white-color;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;    
}

@media screen and (max-width: 1000px) {
    .not-found-page {
        background-size: 100%;                  
    }
}

@media screen and (max-width: 950px) {
    .not-found-page {
        background-size: 120%;        
    }
}

@media screen and (max-width: 850px) {
    .not-found-page {
        background-size: 150%;        
    }
}

@media screen and (max-width: 450px) {
    .not-found-page {       
        background-size: 210%;    
        font-size: 40px;
    }
}
